/* Base and Global Styles */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: #f0d958;
}

body {
    max-width: 60rem;
    margin: 0 auto;
    height: 90vh;
    background-color: #f0d958;
}

/* Header Styles */
header {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 5rem;
}

.title {
    font-family: 'Shrikhand', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 6rem;
    color: #FF6B6B;
}

.subtext {
    font-family: 'JetBrains', monospace;
    font-size: 2rem;
    color: black;
}

.subtext span {
    font-weight: 900;
}

/* Board and Cell Styles */
.board {
    background-color: white;
    position: relative; 
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    background-color: #1c86e0;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: #f0d958;
}

.winning-cell {
    background-color: #f0d958;
}

/* Button Styles */
.reset-btn {
    font-family: 'JetBrains', monospace;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    transition: background-color 0.2s;
    display: block;
    margin: 4rem auto 5rem;
    color: #4A90E2;
    letter-spacing: 0.1rem;
}

.reset-btn:hover {
    background-color: rgb(228, 228, 228);
}


.result-subtext{
    font-weight: bold
}

.hidden {
    display: none;
}

/* Container for the toggle switch */
.switch {
    position: fixed;
    top: 10px;
    right: 20px;
    display: inline-block;
    font-weight: bold;
    font-family: 'JetBrains', monospace;
    font-size: 18px; /* Increase the font size here */
  }
  
  /* Style the actual checkbox input to be hidden */
  .switch input {
    display: none;
  }
  
  /* Style the slider (the toggle part) */
  .switch .slider {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .4s;
    border-radius: 34px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  /* Add the ball inside the slider */
  .switch .slider:before {
    content: "";
    height: 26px;
    width: 26px;
    left: -3px;
    bottom: -3px;
    background-color: white;
    position: absolute;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* When the checkbox is checked, update the slider's color and move the ball to the right */
  .switch input:checked + .slider {
    background-color: #1c86e0;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Add some hover effects */
  .switch .slider:hover {
    background-color: #aaa;
  }
  
  .switch input:checked + .slider:hover {
    background-color: #1c86e0;
  }

@media only screen and (max-width: 60rem) {

    .title      {
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }
    .reset-btn {
        padding: 1rem 2rem;
        margin: 2rem auto 5rem;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }

    header {
        margin-top: 0%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .reset-btn:hover {
        background-color: white;
    }

    .cell:hover {
        background-color: #1c86e0;
    }

}

